@font-face{ 
	font-family: Jeko; 
	font-display: swap; 
	src: url("../fonts/Jeko-Bold.woff2") format("woff2"), url("../fonts/Jeko-Bold.woff") format("woff"); 
	font-weight: 700;
	 font-style:normal; 
}
@font-face{ 
	font-family: Jeko; 
	font-display: swap; 
	src: url("../fonts/Jeko-Light.woff2") format("woff2"), url("../fonts/Jeko-Light.woff") format("woff"); 
	font-weight: 300;
	 font-style:normal; 
}
@font-face{ 
	font-family: Jeko; 
	font-display: swap; 
	src: url("../fonts/Jeko-Regular.woff2") format("woff2"), url("../fonts/Jeko-Regular.woff") format("woff"); 
	font-weight: 400;
	 font-style:normal; 
}
@font-face{ 
	font-family: Jeko; 
	font-display: swap; 
	src: url("../fonts/Jeko-Medium.woff2") format("woff2"), url("../fonts/Jeko-Medium.woff") format("woff"); 
	font-weight: 500;
	 font-style:normal; 
}
@font-face{ 
	font-family: Jeko; 
	font-display: swap; 
	src: url("../fonts/Jeko-Thin.woff2") format("woff2"), url("../fonts/Jeko-Thin.woff") format("woff"); 
	font-weight: 100;
	 font-style:normal; 
}
